In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

# Problem 1: Data Cleaning 1

In [4]:
# 1. Load the companies and rounds data into two data frames and name them companies and rounds2 respectively.

In [5]:
companies=pd.read_csv('C:/Users/Subhadri/Desktop/Data Science/Term 1/Pandas/Assignment 1 - Teclov/companies.txt', 
                      sep='\t', encoding='ANSI')
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [6]:
rounds2=pd.read_csv('C:/Users/Subhadri/Desktop/Data Science/Term 1/Pandas/Assignment 1 - Teclov/rounds2.csv', 
                    encoding='ANSI')
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
# 2. How many unique companies are present in rounds2?
rounds2['new_company_permalink']=rounds2['company_permalink'].str.lower()
rounds2['new_company_permalink'].nunique()

66368

In [8]:
# 3. How many unique companies are present in companies?
companies['new_permalink']=companies['permalink'].str.lower()
companies['new_permalink'].nunique()

66368

In [9]:
# 4. In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.
# Ans: The unique key in the companies data frame is 'permalink'.
companies['new_permalink'].is_unique

True

In [10]:
# 5. Are there any companies in the rounds2 file which are not present in companies? Answer yes or no: Y/N
companies['new_permalink'].isin(rounds2['new_company_permalink']).value_counts()
# Ans: No

True    66368
Name: new_permalink, dtype: int64

In [11]:
# 6. Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the
# merged frame master_frame. How many observations are present in master_frame?
master_frame=pd.merge(companies,rounds2,left_on='new_permalink',right_on='new_company_permalink')
master_frame
master_frame.columns.nunique()

18

# Problem 2: Funding Type Analysis

In [12]:
# 1. Calculate the most representative value of the investment amount for each of the four funding types (venture, angel, seed
# and private equity) and report the answers in the template provided on the previous page.

most_representative_value=master_frame[master_frame['funding_round_type'].isin(['venture', 'angel', 'seed','private_equity'])].\
groupby('funding_round_type')[['funding_round_type','raised_amount_usd']].sum()
most_representative_value

                    raised_amount_usd
funding_round_type
angel                    4.659255e+09
private_equity           1.419254e+11
seed                     1.698986e+10
venture                  5.901262e+11

In [13]:
# 2. Based on the most representative investment amount calculated above, which investment type do you think is the most suitable 
# for Teclov?

most_representative_value.sort_values(ascending=False, by='raised_amount_usd').head(1)

                    raised_amount_usd
funding_round_type
venture                  5.901262e+11

# Problem 3: Country Analysis

In [14]:
master_frame

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,new_company_permalink
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/organization/-qounter
2,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter
3,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-
4,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/organization/zzzzapp-com
114945,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,/organization/zzzzapp-com,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/organization/zzzzapp-com
114946,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,/organization/ãeron,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/organization/ãeron
114947,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,/organization/ã”asys-2,/ORGANIZATION/Ã”ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,/organization/ã”asys-2
114948,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

In [15]:
# 1. Teclov wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen 
# investment type)

x=master_frame[master_frame['funding_round_type']=='venture'].groupby('country_code')['raised_amount_usd'].sum().\
sort_values(ascending=False).head(9)
x

country_code
USA    4.225108e+11
CHN    3.983542e+10
GBR    2.024563e+10
IND    1.439186e+10
CAN    9.583332e+09
FRA    7.259537e+09
ISR    6.907515e+09
DEU    6.346960e+09
JPN    3.363677e+09
Name: raised_amount_usd, dtype: float64

In [16]:
# 2. For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment 
# amount each country has received)

top9=pd.DataFrame(x)
top9.reset_index()

  country_code  raised_amount_usd
0          USA       4.225108e+11
1          CHN       3.983542e+10
2          GBR       2.024563e+10
3          IND       1.439186e+10
4          CAN       9.583332e+09
5          FRA       7.259537e+09
6          ISR       6.907515e+09
7          DEU       6.346960e+09
8          JPN       3.363677e+09

In [17]:
# 3. Identify the top three English-speaking countries in the data frame top9.
countries=pd.Series({'Top English-speaking country':'USA',
           'Second English-speaking country':'IND',
           'Third English-speaking country':'GBR'})
countries_df=pd.DataFrame(countries)
countries_df.reset_index(inplace=True)
countries_df.rename(columns={'index':'Top 3 Countries',0:'Country Name'},inplace=True)
countries_df

                   Top 3 Countries Country Name
0     Top English-speaking country          USA
1  Second English-speaking country          IND
2   Third English-speaking country          GBR

# Problem 4: Sector Analysis 1

In [18]:
mapping=pd.read_csv('C:/Users/Subhadri/Desktop/Data Science/Term 1/Pandas/Assignment 1 - Teclov/mapping.csv')
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [19]:
# 1. Extract the primary sector of each category list from the category_list column.
list1=[]
dic={'category_list': str,}
# dic
master_frame['category_list']=master_frame['category_list'].astype(dic)
cat_list=master_frame['category_list']
#cat_list
for i in cat_list:
    i=i.split('|')
    list1.append(i[0])
# list1
primary_sector=pd.DataFrame(list1,columns=['category_list'])
primary_sector.head()

           category_list
0                  Media
1  Application Platforms
2  Application Platforms
3                   Apps
4            Curated Web

In [20]:
# 2. Use the mapping file 'mapping.csv' to map each primary sector to one of the eight main sectors (Note that ‘Others’ is also 
# considered one of the main sectors)
k=pd.melt(mapping,id_vars='category_list',var_name='Main_Sector')
k=k[['category_list','Main_Sector']][k.value==1].sort_values('category_list')
#k.head()
sector=pd.merge(primary_sector,k,on='category_list')
#sector.shape
sector=sector.drop_duplicates()
#sector.shape
sector.rename(columns={'category_list': 'Primary_Sector'},inplace=True)
sector.head()

             Primary_Sector                 Main_Sector
0                     Media               Entertainment
299   Application Platforms  News, Search and Messaging
639                    Apps  News, Search and Messaging
2965            Curated Web  News, Search and Messaging
6671               Software                      Others

# Problem 5: Sector Analysis 2

In [21]:
master_sector=pd.merge(sector,master_frame,left_on='Primary_Sector',right_on='category_list')
master_sector.tail()

,Primary_Sector,Main_Sector,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,new_company_permalink
48878,Taxis,Others,/Organization/Taxworld,Taxworld,http://www.taxworld.ie/,Taxis,operating,IRL,7,Dublin,Dublin,01-01-1996,/organization/taxworld,/organization/taxworld,/funding-round/9a56d0caa2daf70152dcede4c429a3c9,venture,NaN,11-06-2014,NaN,/organization/taxworld
48879,User Interface,Others,/Organization/User-Interface,User Interface,http://www.userinterface.com,User Interface,operating,USA,CA,Bakersfield,California City,NaN,/organization/user-interface,/ORGANIZATION/USER-INTERFACE,/funding-round/ade267714c6ee533323f46a25b2db237,venture,A,24-01-2001,8250000.0,/organization/user-interface
48880,Gay & Lesbian,Others,/Organization/Wing-Ma-Am,Wing Ma'am,http://www.wingmaam.com/,Gay & Lesbian,operating,USA,PA,Pittsburgh,Pittsburgh,07-10-2012,/organization/wing-ma-am,/organization/wing-ma-am,/funding-round/017fef93620f71e5b884435972b440e8,seed,NaN,17-04-2014,NaN,/organization/wing-ma-am
48881,Gay & Lesbian,Others,/Organization/Wing-Ma-Am,Wing Ma'am,http://www.wingmaam.com/,Gay & Lesbian,operating,USA,PA,Pittsburgh,Pittsburgh,07-10-2012,/organization/wing-ma-am,/ORGANIZATION/WING-MA-AM,/funding-round/13d72bd46f529ee00ff699254d9d1c16,seed,NaN,09-06-2013,25000.0,/organization/wing-ma-am
48882,Q&A,"News, Search and Messaging",/Organization/Wiselike,Wiselike,https://wiselike.com/,Q&A,operating,USA,CA,SF Bay Area,San Francisco,NaN,/organization/wiselike,/organization/wiselike,/funding-round/e313727defb87ca1dcb8ec9f6d091e47,seed,NaN,31-08-2015,1250000.0,/organization/wiselike

In [22]:
master_sector=master_sector.rename(columns={'funding_round_type':'FT'})
master_sector.head()

,Primary_Sector,Main_Sector,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,new_permalink,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink
0,Media,Entertainment,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame
1,Media,Entertainment,/Organization/All-Def-Digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,/organization/all-def-digital,/organization/all-def-digital,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,A,06-08-2014,5000000.0,/organization/all-def-digital
2,Media,Entertainment,/Organization/Anthill-Magazine,Anthill Magazine,http://anthillonline.com/,Media,operating,AUS,7,Melbourne,Melbourne,23-05-2009,/organization/anthill-magazine,/organization/anthill-magazine,/funding-round/52128cd405b88f36a85d6cded8359f1c,seed,NaN,09-04-2015,600000.0,/organization/anthill-magazine
3,Media,Entertainment,/Organization/Attractive-Black-Singles-Llc,Attractive Black Singles LLC,NaN,Media,operating,USA,NC,Greensboro,Greensboro,12-04-2012,/organization/attractive-black-singles-llc,/organization/attractive-black-singles-llc,/funding-round/231691541eddf75cf54d13a88370dd59,equity_crowdfunding,NaN,14-07-2012,NaN,/organization/attractive-black-singles-llc
4,Media,Entertainment,/Organization/Basel-Switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,/organization/basel-switzerland,/organization/basel-switzerland,/funding-round/ae3c2e82851d1fd6f4ba59ee6d3f0eb2,venture,NaN,07-01-2002,13439178.0,/organization/basel-switzerland

In [23]:
Country1=master_sector[(master_sector.country_code=='USA') & (master_sector.FT=='venture') & 
                       ((master_sector.raised_amount_usd >=5000000) | (master_sector.raised_amount_usd<=15000000))]
#print(Country1)
Country2=master_sector[(master_sector.country_code=='IND') & (master_sector.FT=='venture') & 
                       ((master_sector.raised_amount_usd >=5000000) | (master_sector.raised_amount_usd<=15000000))]
#print(Country2)
Country3=master_sector[(master_sector.country_code=='GBR') & (master_sector.FT=='venture') & 
                       ((master_sector.raised_amount_usd >=5000000) | (master_sector.raised_amount_usd<=15000000))]
#print(Country3)

In [24]:
total_amount1=Country1.groupby('Main_Sector')['raised_amount_usd'].sum()
#print(total_amount1)
p1=Country1.groupby('Main_Sector').size()
#print(p1)
df1=pd.merge(Country1,total_amount1,on='Main_Sector', suffixes=('','Total'))
df1.head()
total_no_investment1=pd.DataFrame(p1,columns=['total_counts'])
total_no_investment1

                                         total_counts
Main_Sector
Automotive & Sports                               153
Cleantech / Semiconductors                       6036
Entertainment                                     676
Health                                           2181
Manufacturing                                    1379
News, Search and Messaging                       1612
Others                                           5926
Social, Finance, Analytics, Advertising           981

In [25]:
D1=pd.merge(df1,total_no_investment1,on='Main_Sector')
D1.head()

,Primary_Sector,Main_Sector,permalink,name,homepage_url,category_list,status,country_code,state_code,region,...,new_permalink,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,raised_amount_usdTotal,total_counts
0,Media,Entertainment,/Organization/All-Def-Digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,...,/organization/all-def-digital,/organization/all-def-digital,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,A,06-08-2014,5000000.0,/organization/all-def-digital,4.677419e+09,676
1,Media,Entertainment,/Organization/Genius-Monkey,Genius Monkey,http://geniusmonkey.com,Media,operating,USA,AZ,Phoenix,...,/organization/genius-monkey,/organization/genius-monkey,/funding-round/6651af18e8cec80b5df168d2e28cecb2,venture,NaN,17-03-2015,2000000.0,/organization/genius-monkey,4.677419e+09,676
2,Media,Entertainment,/Organization/Glass-Media,Glass Media,http://www.glass-media.com,Media,closed,USA,TX,Dallas,...,/organization/glass-media,/ORGANIZATION/GLASS-MEDIA,/funding-round/cb7074009f3bd0becbebcdf08ed63a4e,venture,NaN,01-04-2015,30000.0,/organization/glass-media,4.677419e+09,676
3,Media,Entertainment,/Organization/Marine-Construction-Technologies,Marine Construction Technologies,http://marinecontech.org/,Media,operating,USA,WA,Seattle,...,/organization/marine-construction-technologies,/ORGANIZATION/MARINE-CONSTRUCTION-TECHNOLOGIES,/funding-round/9a549453415fd1711a34f51c9abca9e3,venture,NaN,17-04-2015,125000.0,/organization/marine-construction-technologies,4.677419e+09,676
4,Media,Entertainment,/Organization/Media-Group-Of-America,Media Group of America,http://mgofa.com,Media,operating,USA,DC,"Washington, D.C.",...,/organization/media-group-of-america,/ORGANIZATION/MEDIA-GROUP-OF-AMERICA,/funding-round/048d7be2b85a3b017177b4d9b0f25faf,venture,NaN,07-01-2015,1500000.0,/organization/media-group-of-america,4.677419e+09,676

In [26]:
total_amount2=Country2.groupby('Main_Sector')['raised_amount_usd'].sum()
#print(total_amount2)
p2=Country2.groupby('Main_Sector').size()
#print(p2)
df2=pd.merge(Country2,total_amount2,on='Main_Sector', suffixes=('','Total'))
df2.head()
total_no_investment2=pd.DataFrame(p2,columns=['total_counts'])
total_no_investment2

                                         total_counts
Main_Sector
Automotive & Sports                                 6
Cleantech / Semiconductors                         33
Entertainment                                      38
Health                                             23
Manufacturing                                      28
News, Search and Messaging                         72
Others                                            180
Social, Finance, Analytics, Advertising            25

In [27]:
D2=pd.merge(df2,total_no_investment2,on='Main_Sector')
D2.head()

,Primary_Sector,Main_Sector,permalink,name,homepage_url,category_list,status,country_code,state_code,region,...,new_permalink,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,raised_amount_usdTotal,total_counts
0,Media,Entertainment,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,...,/organization/-fame,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,386247840.0,38
1,Games,Entertainment,/Organization/Dhruva,Dhruva,http://www.dhruva.com/,Games,operating,IND,19,Bangalore,...,/organization/dhruva,/ORGANIZATION/DHRUVA,/funding-round/6035248811c9530b11bd442d9239a0b1,venture,NaN,27-11-2006,5000000.0,/organization/dhruva,386247840.0,38
2,Games,Entertainment,/Organization/Games2Win,Games2Win,http://www.games2win.com,Games,operating,IND,16,Mumbai,...,/organization/games2win,/organization/games2win,/funding-round/6b024f4906c288c66d1df966e6aeb256,venture,A,29-03-2007,5000000.0,/organization/games2win,386247840.0,38
3,Games,Entertainment,/Organization/Games2Win,Games2Win,http://www.games2win.com,Games,operating,IND,16,Mumbai,...,/organization/games2win,/ORGANIZATION/GAMES2WIN,/funding-round/a79952cf45ea1ce0692380395861a074,venture,C,15-03-2013,2000000.0,/organization/games2win,386247840.0,38
4,Games,Entertainment,/Organization/Games2Win,Games2Win,http://www.games2win.com,Games,operating,IND,16,Mumbai,...,/organization/games2win,/organization/games2win,/funding-round/b095563fd43d1e4fd16da3f4bcd040af,venture,B,30-03-2011,6000000.0,/organization/games2win,386247840.0,38

In [28]:
total_amount3=Country3.groupby('Main_Sector')['raised_amount_usd'].sum()
#print(total_amount3)
p3=Country3.groupby('Main_Sector').size()
#print(p3)
df3=pd.merge(Country3,total_amount3,on='Main_Sector', suffixes=('','Total'))
df3
total_no_investment3=pd.DataFrame(p3,columns=['total_counts'])
total_no_investment3

                                         total_counts
Main_Sector
Automotive & Sports                                14
Cleantech / Semiconductors                        341
Entertainment                                      67
Health                                             50
Manufacturing                                      90
News, Search and Messaging                        108
Others                                            368
Social, Finance, Analytics, Advertising            81

In [29]:
D3= pd.merge(df3,total_no_investment3,on='Main_Sector')
D3.head()

,Primary_Sector,Main_Sector,permalink,name,homepage_url,category_list,status,country_code,state_code,region,...,new_permalink,company_permalink,funding_round_permalink,FT,funding_round_code,funded_at,raised_amount_usd,new_company_permalink,raised_amount_usdTotal,total_counts
0,Apps,"News, Search and Messaging",/Organization/Softvianet,SoftViaNet,http://www.softbynet.com,Apps,closed,GBR,H9,London,...,/organization/softvianet,/ORGANIZATION/SOFTVIANET,/funding-round/8d03afcff42d39e9393896c7480519fe,venture,NaN,16-10-2000,915000000.0,/organization/softvianet,2.045052e+09,108
1,Curated Web,"News, Search and Messaging",/Organization/Audacious,Audacious,NaN,Curated Web,operating,GBR,NaN,NaN,...,/organization/audacious,/organization/audacious,/funding-round/f651dac5d60d960cce6f63ca5217dd96,venture,NaN,09-08-2011,163406.0,/organization/audacious,2.045052e+09,108
2,Curated Web,"News, Search and Messaging",/Organization/Boats-Com,Boats.com,http://uk.boats.com,Curated Web,closed,GBR,F2,London,...,/organization/boats-com,/ORGANIZATION/BOATS-COM,/funding-round/85f4ada8e83ca73827a419516ecf4c72,venture,B,04-08-2000,21000000.0,/organization/boats-com,2.045052e+09,108
3,Curated Web,"News, Search and Messaging",/Organization/Eagle-Eye-Solutions,Eagle Eye Solutions,http://www.eagleeyesolutions.co.uk,Curated Web,operating,GBR,N7,NaN,...,/organization/eagle-eye-solutions,/ORGANIZATION/EAGLE-EYE-SOLUTIONS,/funding-round/5a084dab1c77c1933148b0971b2c7bd3,venture,A,20-06-2011,2427799.0,/organization/eagle-eye-solutions,2.045052e+09,108
4,Curated Web,"News, Search and Messaging",/Organization/Famecount,Starcount,http://www.starcount.com/,Curated Web,operating,GBR,E2,London,...,/organization/famecount,/ORGANIZATION/FAMECOUNT,/funding-round/f9e03800d455fd03294b3978c4ca84da,venture,NaN,11-11-2014,7464266.0,/organization/famecount,2.045052e+09,108

In [30]:
# 1. Total number of investments (count) for each country.
c1=total_no_investment1['total_counts'].sum()
print(c1)
c2=total_no_investment2['total_counts'].sum()
print(c2)
c3=total_no_investment3['total_counts'].sum()
print(c3)

18944
405
1119

In [31]:
# 2. Total amount of investment (USD) for each country.
c1=total_amount1.sum()
print(c1)
c2=total_amount2.sum()
print(c2)
c1=total_amount3.sum()
print(c3)

195554215946.0
5185825020.0
1119

In [32]:
# 3. Top sector (based on count ofinvestments) of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,0]
print(c3)

Cleantech / Semiconductors
Others
Others

In [33]:
# 4. Second-best sector (based on count of investments) of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,0]
print(c3)

Others
News, Search and Messaging
Cleantech / Semiconductors

In [34]:
# 5. Third-best sector (based on count of investments) of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,0]
print(c3)

Health
Entertainment
News, Search and Messaging

In [35]:
# 6. Number of investments in the top sector of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(1).iloc[0,1]
print(c3)

6036
180
368

In [36]:
# 7. Number of investments in the second best sector of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(2).iloc[1,1]
print(c3)

5926
72
341

In [37]:
# 8. Number of investments in the thirdd best sector of each country.
c1=total_no_investment1['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(c1)
c2=total_no_investment2['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(c2)
c3=total_no_investment3['total_counts'].reset_index().sort_values(ascending=False,by='total_counts').head(3).iloc[2,1]
print(c3)

2181
38
108